.projects {
    height:25em;
    width:35em;
    background-color:#801000;
    margin:1.5em;
    display:inline-block;
    text-align:center;
    border-radius:10px;
    /* font-family:alethi */
}
#projStyle {
    font-size:4em;
    text-align:center;
}

#projectBar {
    overflow: auto;
    white-space: nowrap;
    margin-right:1vw;
    margin-left:1vw;
}

#staticBG {
    background-image: url('../assets/staticBG.PNG');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
#apiBG {
    background-image: url('../assets/apiBG.PNG');
    background-size:cover;
    background-repeat:no-repeat;
}
#cssCreatureBG {
    background-image: url('../assets/creatureBG.PNG');
    background-size:cover;
    background-repeat:no-repeat;
}
#redBadgeBG {
    background-image: url('../assets/BASICdB.PNG');
    background-size:cover;
    background-repeat:no-repeat;
}
#blueBadgeBG {
    background-image: url('../assets/comboDoc.png');
    background-size:cover;
    background-repeat:no-repeat;
}
#SWADEwound {
    background-image: url('../assets/swadeCalc.png');
    background-size:cover;
    background-repeat:no-repeat;
}
#scrambleBG {
    background-image: url('../assets/scramble.png');
    background-size:cover;
    background-repeat:no-repeat;
}



/* Width */
::-webkit-scrollbar {
    width:5px
}

/* Track */
::-webkit-scrollbar-track {
    background:rgba(221, 221, 221, 0);
    border-radius:15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:rgba(175, 175, 175, 0.5);
    border-radius:15px;
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(128, 128, 128, 0.746);
}

.projectFont {
    font-size:3.25em;
    padding-top:50%;
    text-shadow:0px 0px 5px black;
}