:root {
    --green: #cdeeaa;
    --pink:#ffcccc;
    --lightpurple:#caabd8;
    --blue:#6d70c6;
    --darkblue:#00306c;
    --purple:#9873b9;
    --darkpurple:#714288;
    --lightblue:#96dae4;
    --tan:#ffedc6;
    --darkpink:#ff6bd6;
    --orange:#f05a28;

    --font1: 'Quicksand', sans-serif;
}